* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

/* ====header===== */
header {
	position: fixed;
	height: auto;
	background-color: red;
	border-bottom: 1px solid black;
	width: 100%;
	margin: 0 auto;
}

.logo h3 {
	font-size: 15px;
	color: white;
}

/* =====main==== */
main {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
}

.cover_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.hero {
	width: 100%;
	height: 100%;
	background-color: black;
}
